<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4 mt-4" *ngFor="let card of cards; let i=index">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">{{card.question}}</h5>
                    <div class="d-grid gap-1">
                        <button class="btn btn-primary" type="button" *ngFor="let answer of card.answers">{{answer}}</button>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>