<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 mb-4" *ngFor="let beer of filteredBeers">
        <div class="card h-100">
            <img class="card-img-top mx-auto mt-3" [src]="beer.imageUrl" [alt]="beer.name" style="width: 60px;">
            <div class="card-body">
                <h4 class="card-title">{{beer.name}}</h4>
                <p class="card-text">{{beer.tagline}}</p>
                <p class="card-text">{{beer.abv | currency}}</p>
            </div>
        </div>
    </div>
</div>
