<div class="calculator__keys">
    <button (click)="handleClick('+')" id="btn_plus" class="calculator__key calculator__key--operator">+</button>
    <button (click)="handleClick('-')" id="btn_minus" class="calculator__key calculator__key--operator">-</button>
    <button (click)="handleClick('*')" id="btn_multiply" class="calculator__key calculator__key--operator">&times;</button>
    <button (click)="handleClick('/')" id="btn_divide" class="calculator__key calculator__key--operator">÷</button>
    <button (click)="handleClick(7)" id="btn_7" class="calculator__key">7</button>
    <button (click)="handleClick(8)" id="btn_8" class="calculator__key">8</button>
    <button (click)="handleClick(9)" id="btn_9" class="calculator__key">9</button>
    <button (click)="handleClick(4)" id="btn_4" class="calculator__key">4</button>
    <button (click)="handleClick(5)" id="btn_5" class="calculator__key">5</button>
    <button (click)="handleClick(6)" id="btn_6" class="calculator__key">6</button>
    <button (click)="handleClick(1)" id="btn_1" class="calculator__key">1</button>
    <button (click)="handleClick(2)" id="btn_2" class="calculator__key">2</button>
    <button (click)="handleClick(3)" id="btn_3" class="calculator__key">3</button>
    <button (click)="handleClick(0)" id="btn_0" class="calculator__key">0</button>
    <button (click)="handleClick('.')" id="btn_point" class="calculator__key">.</button>
    <button (click)="handleClick('del')" id="btn_ac" class="calculator__key">AC</button>
    <button (click)="handleClick('=')" id="btn_equal" class="calculator__key calculator__key--enter">=</button>
  </div>